# Empêcher l'indexation des répertoires
Options -Indexes

# Sécuriser l'accès aux fichiers sensibles (comme les fichiers PHP)
<FilesMatch "\.(php|inc|htaccess)">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Autoriser l'accès uniquement à des fichiers spécifiques si nécessaire
<Files "index.php">
    Allow from all
</Files>