:root {
  --gold: #daa520;
  --gold-clair: #e8b533;
  --noir: #1e1e1e;
  --header: #1e1e1ebd;
  --noir-profond: #000;
  --white: #fbfbfb;
  --border-radius: 8px;
  --padding: 10px 20px;
  --padding-footer: 20px 40px;
  --taille-ronds-commande: 100px;
  --margin-section: 0 5vw;
}
/*
    Elements de prestashop qui clc
*/
#wrapper {
  background: transparent !important;
}

/*
    Elements de base
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--noir) !important;
  color: var(--white) !important;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  max-width: calc(100vw - (100vw - 100%));
  font-style: normal;
  margin: 0;
  overflow-x: hidden;
}

/*************************************************************************
Header
**************************************************************************/

