:root {
  --gold: #daa520;
  --gold-clair: #e8b533;
  --noir: #1e1e1e;
  --header: #1e1e1ebd;
  --noir-profond: #000;
  --white: #fbfbfb;
  --border-radius: 8px;
  --padding: 10px 20px;
  --padding-footer: 20px 40px;
  --taille-ronds-commande: 100px;
  --margin-section: 0 5vw;
}
/*
    Elements de prestashop qui clc
*/
#wrapper {
  background: transparent !important;
}

/*
    Elements de base
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--noir) !important;
  color: var(--white) !important;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  max-width: calc(100vw - (100vw - 100%)) !important;
  font-style: normal;
  margin: 0;
  min-height: 100vh !important;
  overflow-x: hidden;
  position: relative !important;
}

main .wrapper {
  min-height: 100vh !important;
  position: relative !important;
}

section {
  margin: var(--margin-section);
}

textarea {
  width: 100%;
  border: 2px solid var(--gold);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--white);
  padding: var(--padding);
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  min-width: 100%;
  max-width: 100%;
  min-height: 25vh;
  resize: none;
}

textarea:focus {
  outline: none !important;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="date"],
select {
  padding: var(--padding);
  border-radius: var(--border-radius);
  height: fit-content;
  background-color: transparent;
  color: var(--white);
  border: 3px solid var(--gold);
}

label {
  display: block;
}
.orange-span {
  color: var(--gold) !important;
  font-weight: 700;
}
/*************************************************************************  
          Header
**************************************************************************/
#header {
  top: 0;
  left: 0 !important;
  background: var(--header) !important;
  padding: var(--padding);
  transition: 0.2s ease-in-out;
  margin: 0 !important;
  z-index: 15;
}

@media (min-width: 768px) {
  #header {
    position: sticky !important;
  }
}

#header:hover {
  background: var(--noir) !important;
}

#header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #disp-n-2 {
  display: none !important;
}

#header img {
  width: 50px;
}

.header-links-toggle img {
  margin-top: 20px;
}

.header-links-toggle {
  width: 100vw;
  padding: var(--padding);
  display: block !important;
}

.header-links-toggle .liens {
  display: flex;
  align-items: flex-start !important;
}

.header-links-toggle .liens div {
  display: block !important;
}

#header a {
  color: var(--gold) !important;
  font-family: "Marcellus", serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 2vh 0;
  display: block;
  font-size: 16px;
}

.header-links {
  display: none;
  width: 21.5rem;
  height: 3.1875rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1.3125rem;
  flex-shrink: 0;
  font-family: "Marcellus", serif;
}

.header-links a {
  color: var(--gold);
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.header-links a:hover {
  color: var(--gold-clair);
}

header .menu-button,
header .menu-button-close {
  width: 30px !important;
}

@media (min-width: 900px) {
  header .menu-button {
    display: none;
  }

  .header-links {
    display: flex;
  }
}

.mobile-menu {
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--noir);
  transition: 0.4s;
  transform: translateX(-120%);
  width: 100%;
}

.active {
  transform: translateX(0);
}

#menu-button {
  cursor: pointer;
  /* Changer le curseur sur le bouton */
}

#header .header_top {
  background-color: transparent !important;
}

/********************************************************************   Footer */

footer {
  display: flex;
  flex-direction: column;
  line-height: 1.589em;
  gap: 0 !important;
  width: 100% !important;
}

footer .separator {
  margin: 0 !important;
}

footer .content {
  padding: var(--padding-footer);
  max-width: 100%;
  background-color: var(--noir-profond);
}

@media (max-width: 999px) {
  footer img {
    width: 50%;
  }
}

footer .content div a {
  color: var(--gold);
  display: block;
  text-decoration: none;
  font-family: "Marcellus", serif;
  transition: 0.2s ease-in-out;
}

footer a:hover {
  color: var(--gold-clair);
}

@media (min-width: 1000px) {
  footer .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer img {
    flex: 0 0 30%;
    max-width: 200px;
  }

  footer .content div {
    flex: 0 0 70% !important;
  }

  footer .content div a {
    text-align: right;
  }
}

/********************************************************************   Séparateur */

.separator {
  display: block;
  width: 100vw;
  margin: 2vh 0 !important;
  height: 5.5vh;
  background: url("../images/Bordure.svg") center center no-repeat;
  background-size: cover;
}

#wrapper {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: unset !important;
}

#wrapper .container {
  margin: 0 !important;
  width: 100%;
  padding: 0 !important;
}

.landing {
  padding: 0 !important;
  margin: 0 !important;
}

#main,
#content-wrapper,
.row,
.container,
#wrapper {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100vw !important;
}

#main {
  min-height: 80vh;
}
/********************************************************************   Titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marcellus", serif !important;
  font-weight: 700;
  color: var(--gold) !important;
  font-style: normal;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 25px;
}

/********************************************************************   Texte */
p {
  color: var(--white);
}
/************************************************************************************** Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--noir);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gold-clair);
}

/************************************************************************
*   Page d'accueil
*************************************************************************/

.webgl-wow {
  background-color: var(--white);
  width: 100vw !important;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  top: -100px !important;
  position: relative !important;
}

.webgl-wow canvas {
  position: absolute !important;
}

#sep-wow {
  margin: 0 !important;
  position: absolute;
  top: 100%;
}

#histoire-engagement {
  max-width: 80vw;
  margin: 5vh auto;
}

.produits-phares {
  max-width: 70vw !important;
  margin: 5vh auto !important;
  padding: 0 !important;
}

.text-right {
  text-align: right;
}

.histoire {
  padding-right: 80px;
}

.engagements {
  padding-left: 80px;
}

/**********************************************************************
    Classes personnalisées
***********************************************************************/

/********************************************************************   Liste des produits*/
.list-prod {
  display: flex;
  justify-content: space-evenly;
  row-gap: 40px;
  column-gap: 20px;
  flex-wrap: wrap;
  margin: 5vh auto !important;
}

/********************************************************************   Cartes des produits*/
.product-card {
  flex: 0 0 29%;
  min-width: 300px;
  max-width: 300px;
  margin: 0 auto !important;
}

.card-image picture {
  width: 300px;
  height: 300px;
}

.card-image picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body {
  padding: 5px 10px;
  position: relative;
  min-height: 10vh !important;
}

.card-body div {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.card-body h3 {
  text-transform: none !important;
  color: var(--white) !important;
  font-weight: unset !important;
}

.card-body h3 a {
  color: var(--white) !important;
}

.voir-plus-prod {
  display: block !important;
  background-color: var(--gold);
  padding: var(--padding);
  display: flex;
  text-align: center;
  font-family: "Marcellus", serif;
  border-radius: var(--border-radius);
  transition: 0.2s ease-in-out;
  flex: 1;
  color: var(--noir);
  text-decoration: none;
}

.voir-plus-prod:hover {
  background-color: var(--gold-clair);
}

.voir-plus-products {
  display: block;
  margin: 5vh auto !important;
  max-width: fit-content !important;
}
/******************************************************************************* Liste produits */

#category #wrapper .container {
  max-width: 80vw !important;
  margin: 5vh auto !important;
}

#category #left-column {
  display: none !important;
}

#category #content-wrapper,
#category #products {
  width: 100% !important;
  margin: 0 auto !important;
}

#category .products {
  row-gap: 25px !important;
}

#category .texte-produits {
  margin: 5vh 8vh;
}

#category .texte-produits ul li {
  list-style-type: disc;
}

#category .pagination {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
}

#category .pagination .offset-md-2 {
  padding: 0 !important;
}

#category .pagination ul {
  background-color: transparent !important;
}

/******************************************************************************* Fiche produit */

.product-container {
  max-width: 90vw !important;
  margin: 5vh auto !important;
}

.product-container .product-cover {
  display: flex;
  max-width: 50vw !important;
  justify-content: center !important;
  flex-direction: column;
}

.product-images > li.thumb-container .thumb.selected,
.product-images > li.thumb-container .thumb:hover {
  border-color: var(--gold) !important;
}

.current-price {
  color: var(--gold) !important;
}

.discount {
  background-color: var(--gold) !important;
}

.current-price,
.discount,
.regular-price {
  font-family: "Marcellus", serif;
}

figcaption.image-caption {
  background-color: transparent !important;
  border: none !important;
}

figcaption.image-caption div p {
  color: var(--white) !important;
  font-family: "Marcellus", serif;
}

#fiche-produit #fiche-produit .prix-gamme {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  align-items: center;
}

#fiche-produit .prix {
  font-size: 25px;
  flex: 0 0 30%;
}

#fiche-produit .gammes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  flex: 0 0 65%;
}

#fiche-produit .gammes-list .gamme {
  color: var(--gold);
  padding: var(--padding);
  border: 1px solid var(--gold);
  border-radius: var(--border-radius);
}

#fiche-produit .choix-taille {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  align-items: flex-end;
}

#fiche-produit .taille-capote label {
  display: flex;
  gap: 5px !important;
  flex-direction: column;
  align-items: center;
  font-size: 16px !important;
}

@media (min-width: 1127px) {
  #fiche-produit {
    float: right;
    border-left: 2px solid var(--gold);
    padding-left: 40px;
    max-width: 30vw !important;
  }

  .product-container .product-cover {
    max-width: 50vw !important;
  }
}

.btn-comment-big {
  width: 50vw !important;
  margin: 5vh auto !important;
}

.product-quantity {
  flex-wrap: wrap;
}

.product-quantity .parent-input input[type="number"] {
  font-size: 20px !important;
  border: 1px solid var(--gold) !important;
  color: var(--white) !important;
  background-color: var(--noir) !important;
}

.product-quantity .parent-input span {
  padding: 5px 10px !important;
}

.wishlist-button-add {
  background-color: var(--gold) !important;
}

.wishlist-button-add i {
  color: var(--noir) !important;
}

.blockreassurance_product div span,
.blockreassurance_product div p {
  color: var(--white) !important;
}

/***************************************************** Commentaires */
#empty-product-comment {
  background: transparent !important;
  max-width: 90vw !important;
  margin: 0 auto !important;
}

#empty-product-comment .btn {
  max-width: 60vw !important;
  margin: 5vh auto !important;
}

#product-comments-list .product-comment-list-item {
  background-color: var(--noir) !important;
  display: flex !important;
  flex-wrap: wrap;
  max-width: 80vw !important;
  margin: 0 auto !important;
}

#product-comments-list .product-comment-list-item .comment-infos {
  flex: 0 0 10%;
  color: var(--white) !important;
}

#product-comments-list .product-comment-list-item .comment-infos .comment-date,
#product-comments-list
  .product-comment-list-item
  .comment-infos
  .comment-author {
  font-family: "Marcellus", serif;
}

#product-comments-list .product-comment-list-item .comment-content {
  flex: 0 0 70%;
  color: var(--white) !important;
}

#product-comments-list .product-comment-list-item .comment-content p {
  color: var(--white) !important;
}

#product-comments-list .product-comment-list-item .comment-content p.h4 {
  color: var(--gold) !important;
  font-family: "Marcellus", serif;
}

#product-comments-list-header {
  color: var(--gold) !important;
  font-family: "Marcellus", serif;
}

.star-content div.star,
.star-content div.star-on {
  background: transparent;
  background-image: url("../images/starss.png") !important;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.star-content div.star-on {
  background-position: -24px 0 !important;
}

/****************************************************** Modal */
#post-product-comment-modal .modal-dialog,
#blockcart-modal .modal-dialog {
  max-width: 80vw !important;
}

#post-product-comment-modal .modal-dialog .modal-content,
#product-comment-posted-modal .modal-dialog .modal-content,
#blockcart-modal .modal-dialog .modal-content .modal-header,
#blockcart-modal .modal-dialog .modal-content .modal-body {
  background-color: var(--noir) !important;
}

#post-product-comment-modal .modal-dialog .modal-header p,
#product-comment-posted-modal .modal-dialog .modal-header p,
#blockcart-modal .modal-dialog .modal-header h4 {
  color: var(--gold) !important;
  font-family: "Marcellus", serif !important;
}

#blockcart-modal .modal-dialog .modal-body .cart-content p{
  color: var(--white) !important;
}

#blockcart-modal .modal-dialog .modal-body .cart-content p span.label{
  color: var(--gold) !important;
}

#blockcart-modal .modal-dialog .modal-body .cart-content .product-total{
  background: var(--noir-profond) !important;
}

#blockcart-modal .modal-dialog .modal-body .product-price{
  color: var(--white) !important;
}

#post-product-comment-modal .modal-dialog .modal-header .close span,
#blockcart-modal .modal-dialog .modal-header .close span i {
  color: var(--gold-clair) !important;
}

#blockcart-modal .modal-dialog .modal-header{
  border-color: var(--gold) !important;
}

#post-product-comment-modal .modal-dialog .modal-body form .row label,
#post-product-comment-modal .modal-dialog .modal-body form .row p,
#post-product-comment-modal .modal-dialog .modal-body form label {
  color: var(--white) !important;
  display: block !important;
  text-align: left !important;
}

#post-product-comment-modal .modal-dialog .modal-body form #comment_title,
#post-product-comment-modal .modal-dialog .modal-body form textarea,
#post-product-comment-modal .modal-dialog .modal-body form label {
  margin: 1vh auto !important;
}

#post-product-comment-modal
  .modal-dialog
  .modal-body
  form
  .row
  .post-comment-buttons {
  margin: 1vh auto !important;
  justify-content: center !important;
}

#post-product-comment-modal .modal-dialog .modal-body form #comment_title {
  max-width: 90% !important;
}

#post-product-comment-modal .modal-dialog .modal-body form textarea {
  max-width: 92% !important;
  min-width: 92% !important;
}

/******************************************************************************* Boutons */
.breadcrumb ol {
  margin: 2vh 5vw !important;
  max-width: 90vw !important;
}
/******************************************************************************* Boutons */

.btn,
#addresses .addresses-footer a {
  display: block;
  text-align: center;
  background-color: var(--gold);
  color: var(--noir) !important;
  font-family: "Marcellus", "serif";
  font-size: 15px;
  text-decoration: none;
  padding: var(--padding);
  min-width: 15vw;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover,
#addresses .addresses-footer a:hover {
  background-color: var(--gold-clair) !important;
  color: var(--noir) !important;
}

a {
  display: inline-block;
  color: var(--gold) !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: var(--gold-clair) !important;
}

/********************************************************************   formulaire de contact */

@media (min-width: 850px) {
  .contact-form form {
    max-width: 100%;
  }
}

@media (max-width: 849px) {
  .contact-form {
    max-width: 90%;
  }
}

.contact-form {
  all: unset;
}

.contact-form div {
  margin: 10px auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  font-size: 15px;
  font-family: "Marcellus", serif;
}

.submit-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.submit-container input {
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
}

label {
  color: var(--white) !important;
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none !important;
  background-color: var(--gold) !important;
  margin: 0 !important;
  font: inherit !important;
  color: var(--gold) !important;
  width: 1.15em !important;
  height: 1.15em !important;
  border: 0.15em solid var(--gold) !important;
  transform: translateY(-0.075em) !important;
  display: grid !important;
  place-content: center !important;
}

input[type="radio"]::before,
input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: var(--noir);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(99%);
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="date"],
input[type="tel"],
select {
  padding: var(--padding) !important;
  border-radius: var(--border-radius) !important;
  height: fit-content !important;
  background-color: transparent !important;
  color: var(--white) !important;
  border: 3px solid var(--gold) !important;
}

select option {
  background: var(--noir) !important;
  color: var(--white) !important;
  transition: 0.2s ease-in-out !important;
}

select option:hover {
  background: var(--gold) !important;
}

input:focus,
textarea:focus {
  outline: none !important;
}

input:is(:-webkit-autofill, :autofill) {
  background: var(--noir-profond) !important;
}

textarea {
  width: 100% !important;
  border: 2px solid var(--gold) !important;
  border-radius: var(--border-radius) !important;
  background-color: transparent !important;
  color: var(--white) !important;
  padding: var(--padding) !important;
  font-size: 15px !important;
  font-family: "Raleway", sans-serif !important;
  min-width: 100%;
  max-width: 100%;
  min-height: 25vh !important;
  resize: none !important;
}

/********************************************************************   Page panier */

/* .page-panier{
  overflow-x: hidden;
  max-width: 100vw;
} */

.page-panier h1 {
  margin-left: 25px;
}

.page-panier .card {
  background: none;
}

.panier-aside .value {
  color: var(--white);
  font-weight: 400;
}

.panier-aside .infos {
  margin: 3vh auto;
}

.cart-summary-line {
  flex: 0 0 50%;
}

.cart-summary-line .label {
  font-family: "Marcellus", "serif";
  color: var(--gold);
  font-size: 16px;
}

.card-block.cart-detailed-subtotals + .cart-summary-totals .cart-total {
  border-top: 0.5px solid var(--gold);
  padding-top: 25px;
}

.card-block.checkout .btn-primary {
  margin-top: 5vh;
  width: auto;
}

@media (max-width: 1126px) {
  .card-block.checkout .btn-primary {
    display: block;
    margin: 2vh auto;
    max-width: 50%;
  }
}

.page-panier .product-line-actions {
  padding: 0px 15px !important;
  max-width: calc(100vw - 60px);
}

.page-panier .parent-input,
.page-panier .parent-input2 {
  display: block;
  height: fit-content;
  width: fit-content;
}

.page-panier .parent-input2 {
  display: flex;
  flex-direction: column;
}

.page-panier .col-md-5,
.page-panier .col-md-6,
.page-panier .col-md-10 {
  padding: 0px;
}

.parent-input .bootstrap-touchspin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.parent-input .bootstrap-touchspin .form-control {
  text-align: center;
  width: 54px;
  height: 34px;
  padding: 0px !important;
  z-index: 2;
  border: none;
  background-color: var(--noir);
  color: var(--white);
  position: absolute;
}

.parent-input .bootstrap-touchspin .input-group-btn-vertical {
  /* display: flex; */
  display: flex;
  position: relative;
  gap: 54px;
  align-items: flex-end;
  background-color: var(--gold);
  border-radius: 8px;
  overflow: hidden;
  padding: 2px;
  width: 100%;
}

.page-panier .btn,
.parent-input .btn {
  min-width: auto;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up,
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  border: none;
  background: none;
  border-radius: var(--border-radius);
  width: 5vw;
  min-width: 20px;
  display: block;
}

.parent-input .bootstrap-touchspin .input-group-btn-vertical .touchspin-up,
.parent-input .bootstrap-touchspin .input-group-btn-vertical .touchspin-down {
  height: 100%;
  width: 100%;
}

.parent-input .bootstrap-touchspin .input-group-btn-vertical .touchspin-up {
  transform: translateY(5%) !important;
}

.parent-input
  .bootstrap-touchspin
  .input-group-btn-vertical
  .touchspin-up::after {
  content: "+" !important;
  font-size: 25px;
}

.parent-input
  .bootstrap-touchspin
  .input-group-btn-vertical
  .touchspin-down::after {
  content: "-" !important;
  font-size: 25px;
}

.page-panier .groupe-actions {
  display: flex;
}

.page-panier .qty-price {
  color: var(--white);
  font-size: 40px;
  margin-top: 5vh;
}

.page-panier .trash-product {
  content: "";
  background-image: url("../images/trash.svg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  transition: 0.2s;
  height: 35px;
}

.page-panier .trash-product:hover {
  transform: scale(0.9);
}

/* pas encore vu */

.page-panier .product-image,
.page-panier .block-image {
  display: block;
  height: fit-content;
  width: fit-content;
}

@media (min-width: 564px) {
  .page-panier .image {
    width: 300px !important;
    height: 300px !important;
    margin: 0 !important;
  }
}

.page-panier .image {
  display: block;
  width: 90vw;
  height: 90vw;
  margin: 0 auto 20px !important;
  max-width: calc(100vw - 45px);
}

.page-panier .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panier-list .panier-infos {
  flex: 1;
}

.panier-list .qnt-trash {
  display: flex;
  flex-wrap: wrap;
}

.panier-list .qnt-trash .qnt {
  flex: 0 0 60%;
}

.panier-list .qnt-trash .trash {
  flex: 1;
  cursor: pointer;
  background: url("../assets/trash.svg") no-repeat center right;
  width: 100%;
}

@media (max-width: 564px) {
  .panier-list .qnt-trash {
    display: flex;
    align-items: center;
  }

  .panier-list .qnt-trash .qnt {
    flex: 0 0 80%;
  }

  .panier-list .qnt-trash .trash {
    flex: 1;
    width: 50px;
    height: 50px;
  }

  .cart-item {
    border-bottom: 1px solid var(--gold);
  }
}

.panier-card .prix-unitaire {
  font-size: 20px;
}

.discount {
  background-color: #951807 !important;
  border-radius: 8px;
}

.product-price {
  color: var(--white);
}

.has-discount.product-price {
  color: #ff4d36;
}

.product-line-info .label {
  color: var(--white);
}

.block-promo .promo-code form {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
}

.block-promo .promo-input + button {
  border: none;
}

.cart-grid-right .promo-discounts .cart-summary-line .label .code {
  color: #f14b35;
}

/* v *** a vérifier *** v */

@media (min-width: 990px) {
  .panier-aside {
    float: right;
    border-left: 2px solid var(--gold);
    padding-left: 50px;
    padding-right: 50px;
    width: 20vw;
  }

  #fiche-produit {
    float: right;
    border-left: 2px solid var(--gold);
    padding-left: 40px;
  }
}

/********************************************************** Checkout */

@media (min-width: 1120px) {
  #checkout .cart-grid-right {
    float: right;
    border-left: 2px solid var(--gold);
    padding-left: 50px;
    padding-right: 50px;
    width: 18vw;
  }
}

#checkout .cart-grid-right section div {
  padding: 0 !important;
}

#checkout .cart-grid-right .card {
  background-color: transparent !important;
  width: 100% !important;
  margin: 0 auto !important;
}

#checkout .value {
  color: var(--white) !important;
  font-weight: normal !important;
}

#checkout .cart-grid-right .card .card-block {
  width: 100%;
  padding: 10px 0 !important;
}

#checkout .promo-name .label {
  color: var(--white) !important;
}

#checkout .checkout-step {
  background-color: var(--noir-profond) !important;
}

#checkout .js-current-step .step-number {
  background-color: var(--gold) !important;
  color: var(--noir) !important;
}

#checkout .checkout-step .step-number {
  border-color: var(--gold) !important;
}

#checkout #delivery-addresses article {
  background: transparent !important;
  border-color: var(--gold) !important;
}

#checkout #delivery-addresses .address-alias {
  color: var(--gold) !important;
  font-family: "Marcellus", serif !important;
  font-weight: normal;
}

#checkout #delivery-addresses article a {
  color: var(--gold) !important;
}

#checkout #delivery-addresses article a:hover {
  color: var(--gold-clair) !important;
}

body#checkout section.checkout-step .delivery-options .delivery-option {
  background: var(--noir-profond) !important;
  display: flex;
  align-items: center;
  border: none !important;
}

#checkout section.checkout-step .delivery-options .delivery-option .row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#checkout #footer {
  background: transparent !important;
  padding: 0 !important;
}

@media (min-width: 900px) {
  .header-links-toggle .liens .option_connexion {
    position: fixed;
    background-color: var(--noir-profond);
    top: 100px;
    right: 25px;
    transform: translateX(calc(120vw + 200px));
    opacity: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 0 10px;
    transition: 0.4s cubic-bezier(0.66, -0.01, 0.36, 0.99);
  }

  #header .option1 a,
  #header .option2 a,
  #header .option_centre a,
  #header .option_seul a {
    color: var(--white) !important;
    font-family: "Raleway", sans-serif;
    text-transform: none;
    margin: 0;
    text-align: center;
    transition: 0.2s;
    font-size: 15px;
  }

  #header .option1:hover a,
  #header .option2:hover a,
  #header .option_centre:hover a,
  #header .option_seul:hover a {
    color: var(--gold-clair) !important;
  }

  .option1 a {
    padding: 10px 20px 5px;
  }

  .separation_option {
    height: 1px;
    background-color: var(--gold);
  }

  .option_centre a {
    padding: 5px 20px;
  }

  .option2 a {
    padding: 5px 20px 10px;
  }

  .option_seul a {
    padding: 10px 20px 10px;
  }

  .header-links-toggle .liens .menu_profil_visible {
    transform: translateX(120vw);
    opacity: 1;
  }
}
/********************************************************** Login / Register */
#registration #main,
#authentication #main,
#identity #content {
  margin: 5vh auto !important;
  max-width: 90vw !important;
}

.form-control-valign {
  display: flex;
}

.form-control-valign label {
  flex: 0 0 10%;
}

.register-form p a,
.forgot-password a,
.no-account a {
  font-family: "Marcellus", serif;
}

.page-authentication #content,
.page-authentication section form div,
.page-registration #content,
#identity #content,
#address #content {
  background: transparent !important;
  color: var(--white) !important;
}
.page-authentication #content,
.page-authentication section form div {
  max-width: 50vw !important;
}
.page-registration #content,
#identity #content,
#address #content {
  max-width: 70vw !important;
  margin: 2vh auto !important;
}

.page-authentication #content .input-group {
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap;
  margin: 2vh auto;
}

.page-authentication #content .input-group input {
  flex: 0 0 50% !important;
}

.page-authentication #content .input-group-btn {
  flex: 0 0 10% !important;
  width: 20px !important;
}

.page-authentication .form-control:focus {
  outline: none !important;
}

.page-authentication .form-control:focus input {
  outline: none !important;
  border: none !important;
  background-color: var(--noir-profond) !important;
}

.input-group.focus,
select:focus {
  outline: none !important;
}

.page-authentication #content .input-group-btn button,
.page-registration .field-password-policy .form-group div .input-group button,
#identity .field-password-policy .form-group div .input-group button {
  padding: 0.78rem 0.1rem 0.78rem 0.2rem !important;
  background-color: var(--gold) !important;
  border: 3px solid var(--gold) !important;
  width: inherit !important;
  display: block !important;
  transition: 0.2s ease-in-out !important;
}

.page-authentication #content .input-group-btn button:hover,
.page-registration
  .field-password-policy
  .form-group
  div
  .input-group
  button:hover,
#identity .field-password-policy .form-group div .input-group button:hover {
  background-color: var(--gold-clair) !important;
}

.page-authentication .form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-authentication .form-group label,
.page-registration .input-group-btn,
#identity .input-group-btn {
  flex: 0 0 20% !important;
}

.page-authentication .form-group div,
.page-registration #field-password,
#identity #field-password,
#identity #field-new_password {
  flex: 0 0 60% !important;
}

.custom-radio {
  background: transparent !important;
  border: none !important;
}

.custom-checkbox input,
.custom-radio input {
  opacity: 1 !important;
}

.custom-checkbox input {
  width: 15px !important;
}

.custom-radio input {
  width: 20px !important;
  height: 20px !important;
}

.custom-checkbox span,
.custom-radio span {
  display: none !important;
}

.custom-checkbox label,
.custom-radio label {
  flex-wrap: wrap;
  width: 100% !important;
  gap: 10px !important;
  display: flex !important;
}

.custom-radio label {
  align-items: center !important;
}

.custom-checkbox label em {
  place-self: flex-end;
}

.custom-checkbox label input {
  position: relative !important;
}

.page-registration .field-password-policy .form-group div .input-group,
#identity .field-password-policy .form-group div .input-group {
  display: flex !important;
  align-items: center !important;
}

.page-registration .form-control-submit,
#submit-login,
#identity .form-control-submit,
#address .form-control-submit {
  max-width: 50vw !important;
  margin: 0 auto;
}

/*************************************************************** Page liens du compte */
#identity #main,
#my-account #main,
#address #main,
.page-order-detail #main {
  max-width: 90vw !important;
  margin: 5vh auto !important;
}

#my-account .links span {
  background: transparent !important;
}

#my-account .links {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  max-width: 40vw !important;
  justify-content: space-around !important;
  margin: 2vh auto !important;
}

#my-account .links a {
  display: block;
  text-align: left !important;
  flex: 0 0 40% !important;
  color: var(--white) !important;
  font-family: "Marcellus", serif;
  font-weight: normal !important;
}

#my-account .links a:hover {
  color: var(--gold) !important;
}

#my-account .links span.link-item {
  padding: 0 !important;
  padding-left: 30px !important;
}

#my-account .links i {
  display: none !important;
}

#my-account #identity-link {
  background: transparent url("../images/my-profile/user.png") no-repeat;
}

#my-account #address-link,
#my-account #addresses-link {
  background: transparent url("../images/my-profile/address.png") no-repeat;
}

#my-account #history-link {
  background: transparent url("../images/my-profile/history.png") no-repeat;
}

#my-account #order-slips-link,
#my-account #discounts-link {
  background: transparent url("../images/my-profile/coupon.png") no-repeat;
}

#my-account #wishlist-link {
  background: transparent url("../images/my-profile/wishlist.png") no-repeat;
}

#my-account #psgdpr-link {
  background: transparent url("../images/my-profile/personal-info.png")
    no-repeat;
}

#my-account #identity-link,
#my-account #address-link,
#my-account #addresses-link,
#my-account #history-link,
#my-account #order-slips-link,
#my-account #discounts-link,
#my-account #wishlist-link,
#my-account #psgdpr-link {
  background-position: left center;
  background-size: 30px 30px;
  background-repeat: no-repeat !important;
}

#my-account .page-footer .btn {
  max-width: 40vw !important;
  margin: 2vh auto !important;
}

/**************************************************************** Infos perso */
#identity .page-footer,
#address .page-footer,
#addresses .page-footer,
#history .page-footer,
#order-slip .page-footer,
#module-blockwishlist-lists .wishlist-footer-links,
#module-psgdpr-gdpr .page-footer,
.page-order-detail .page-footer,
#discount .page-footer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  gap: 15px !important;
}

#identity .page-footer a,
#address .page-footer a,
#addresses .page-footer a,
#history .page-footer a,
#order-slip .page-footer a,
#module-blockwishlist-lists .wishlist-footer-links a,
#module-psgdpr-gdpr .page-footer a,
.page-order-detail .page-footer a,
#discount .page-footer a {
  display: block !important;
}

/*************************************************************** Adresses */
#address label {
  max-width: 10vw !important;
}

#address .form-control-comment {
  text-align: right !important;
}

#address .form-footer {
  margin: 5vh auto !important;
}

#addresses #main {
  max-width: 90vw !important;
  margin: 0 auto !important;
}

#addresses #content {
  max-width: 80vw !important;
  margin: 5vh auto !important;
}

#addresses .address {
  flex: 0 0 25% !important;
  background-color: var(--noir-profond) !important;
  max-width: fit-content;
  padding: var(--padding) !important;
  border-radius: var(--border-radius) !important;
}

#addresses .address .address-body {
  color: var(--white) !important;
}

#addresses .address .address-footer {
  border-color: var(--gold-clair) !important;
}

#addresses .addresses-footer a {
  max-width: 40vw !important;
  margin: 5vh auto !important;
}

/************************************************************* History */

#history #content,
#discount #content {
  background: transparent !important;
}

#history h6,
#discount h6 {
  color: var(--white) !important;
  font-weight: normal !important;
}
#history table th,
#history table td,
.page-order-detail table th,
.page-order-detail table td,
#discount table th,
#discount table td {
  border: 3px solid var(--noir) !important;
}

#history table th,
.page-order-detail table th,
#discount table th {
  background-color: var(--gold-clair) !important;
  color: var(--noir) !important;
  font-family: "Marcellus", serif !important;
}

#history table td,
.page-order-detail table td,
#discount table td,
#discount .cart-rule {
  color: var(--white) !important;
}

#history .row {
  display: flex !important;
}

/******************************************************* Page données RGPD */

#module-psgdpr-gdpr #content {
  background-color: transparent !important;
}

#module-psgdpr-gdpr .page_content div {
  background-color: var(--noir-profond) !important;
}

/******************************************************* Détails commande */

.page-order-detail .box {
  background-color: transparent !important;
}
.page-order-detail #order-infos,
.page-order-detail .addresses {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
  gap: 10px !important;
}

.page-order-detail #order-infos .box,
.page-order-detail .addresses div {
  flex: 0 0 30% !important;
}

.page-order-detail #order-infos .box:first-child a {
  font-family: "Marcellus", serif;
}

.page-order-detail .order-message-form {
  max-width: 60vw !important;
  margin: 2vh auto !important;
}

.page-order-detail .order-message-form .form-group {
  margin: 2vh auto !important;
  max-width: 50vw !important;
}

.page-order-detail .order-message-form label {
  max-width: 50px !important;
}

.page-order-detail .order-message-form select {
  width: 37.25vw !important;
}

.page-order-detail .order-message-form .form-footer button {
  max-width: 40vw !important;
  margin: 2vh auto !important;
}

/**************************************************************** Credit Slip */

#order-slip #content {
  background: transparent !important;
}

#order-slip #main,
#discount #main,
#module-psgdpr-gdpr #main,
#history #main {
  max-width: 80vw !important;
  margin: 5vh auto !important;
}

/************************************************************** Page confirmation commande */

#order-confirmation #main .card {
  background: transparent !important;
}

/************************************************************** Vouchers */

#discount #content {
  background: transparent !important;
}

#order-slip #main {
  max-width: 80vw !important;
  margin: 5vh auto !important;
}
